name: Run tests

on:
  workflow_dispatch:
  pull_request:
  push:

permissions: {}

jobs:
  test:
    uses: hansmi/ghactions-go-test-workflow/.github/workflows/test.yaml@0.3
    with:
      runs-on: ubuntu-latest
    permissions:
      contents: read

# vim: set sw=2 sts=2 et :
